<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - moment2_mvc</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/moment2_mvc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">moment2_mvc</a>
        <nav class="">
            <div class="">
                <div class="">
                    <ul class="nav-ul">
                        <li class="li-item">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="li-item">
                            <a class="" asp-area="" asp-controller="Recipe" asp-action="Create">Skapa recept</a>
                        </li>
                        <li class="li-item">
                            <a class="" asp-area="" asp-controller="Recipe" asp-action="All">Se alla recept</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="">
            &copy; 2024, Linda Götenmark - moment2_mvc - 
        </div>
    </footer>
    
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
