@model List<moment2_mvc.Models.RecipeModel>

@{
    ViewData["Title"] = "Alla recept";
}

<div class="left">
<h2>Alla recept</h2>

<ul>
    @foreach (var recipe in Model)
    {
        <li class="all-rec">
            <a href="@Url.Action("Details", new { recipeId = recipe.RecipeId })">@recipe.Title</a>
        </li>
    }
</ul>
</div>

<aside>
    <partial name="_LatestRecipesPartial" model="@Model" />
</aside>