@model moment2_mvc.Models.RecipeModel;
@{
    ViewData["Title"] = "Skapa recept";
}



<h2>Lägg till nytt recept</h2>

<h3>@ViewBag.Message</h3>

<form method="post">

    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label asp-for="Ingredients"></label>
    <textarea asp-for="Ingredients"></textarea>
    <span asp-validation-for="Ingredients" class="text-danger"></span>
    <br />

   
    <label asp-for="Instructions"></label>
    <textarea asp-for="Instructions"></textarea>
    <span asp-validation-for="Instructions" class="text-danger"></span>
    <br />

    <button type="submit">Lägg till recept</button>

</form>


