@model moment2_mvc.Models.RecipeModel

@{
    ViewData["Title"] = "Visar enskilt recept";
}
<h2>@Model.Title</h2>

<p><strong>Ingredienser:</strong> @Model.Ingredients</p>

<p><strong>Instruktioner:</strong> @Model.Instructions</p>


<p><a href="@Url.Action("All", "Recipe")">Tillbaka till alla recept</a></p>


<partial name="_LatestRecipesPartial" model="new List<moment2_mvc.Models.RecipeModel> { @Model }" />
